body{
    margin: 0;
    font-family: "DM Serif Text", serif;
}
.top-area{
    background-image: url("/img/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.half-width{
    width: 40%;
    float: left;
    padding-left: 4%;
}

.half-width img{
    width: 100%;
}
.top-area{
    display: flex;
    align-items: center;
}

.text-highlighted{
    color: orange;
}
.btn{
    background-color: tomato;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.biography-area{
    background-image: url("/img/biography-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    align-items: center;
    display: flex;
}

.my-work-area h2{
    text-align: center;
}
.single-work{
    width: 33%;
    float: left;
    
}
.single-work> img{ 
    width: 100%;
}

#client{
    padding: 20px 0px;
}
.client-area{
    text-align: center;
    background-image: url("/img/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.leave-program{
    width: 60%;
    background-color: rgb(218, 70, 44);
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    padding: 20px 20px;
    color: white;
}

footer p{
    text-align: center;
}